<section  class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                           Oh no.. parece que te perdiste
                        </h3>

                        <p>La página que buscas no está disponible!</p>

                        <a [routerLink]="['/home']" class=" btn link_404">Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>