<div id="dashboar-company" class="p-1 no-gutters justify-content-between mb-4 align-items-center mt-3">
  <div class="row no-gutters">
    <div class="col-xl-3 text-left">
      <h2 class="page-heading">Bienvenido {{user.companyName}}!</h2>
      <p class="mb-0">Tu restaurante administrador</p>
    </div>
    <div class="col-xl-9 mt-3 mt-xl-0 mb-3">
      <div class="card mb-0">
          <div class="card-body p-2">
              <h5 class="card-title">Nuevas Ordenes</h5>
              <div class="row no-gutters">
                  <div class="col-md-5">
                      <div class="input-group">
                          <input type="text" class="form-control" value="ORDER-84534598">
                          <div class="input-group-append">
                              <button class="btn btn-primary" type="button">Tomar Orden</button>
                          </div>
                      </div>
                      <span *ngIf="id ===1" class="d-block mt-1">Tu pedido se está Ordenando ahora</span>
                      <span *ngIf="id ===2" class="d-block mt-1">Tu pedido está pendiente ahora</span>
                      <span *ngIf="id ===3" class="d-block mt-1">Tu pedido se está preparando ahora</span>
                      <span *ngIf="id ===4" class="d-block mt-1">Tu pedido se está entregando ahora</span>
                      <span *ngIf="id ===5" class="d-block mt-1">Tu pedido está recibido</span>
                  </div>
                  <div class="col-md-7 p-0 mt-3 mt-md-0">
                      <div class="steps">
                          <ul class="list-unstyled multi-steps">
                              <li [ngClass]="{'is-active': id === 1, 'position-relative':id ===1 }" (click)="stepTrackOrder(1)"><p><small>Ordenado</small></p></li>
                              <li [ngClass]="{'is-active': id === 2, 'position-relative':id ===2 }" (click)="stepTrackOrder(2)"><p><small>Pendiente</small></p></li>
                              <li [ngClass]="{'is-active': id === 3, 'position-relative':id ===3 }" (click)="stepTrackOrder(3)"><p><small>Preparando</small></p></li>
                              <li [ngClass]="{'is-active': id === 4, 'position-relative':id ===4 }" (click)="stepTrackOrder(4)"><p><small>Entrega</small></p></li>
                              <li [ngClass]="{'is-active': id === 5, 'position-relative':id ===5 }" (click)="stepTrackOrder(5)"><p><small>Recibido</small></p></li>
                          </ul>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
    </div> 
  </div>   
            <div class="row no-gutters">
                    

              <div class="col-lg-12 mb-3">
                  <div class="card">
                      <div class="card-body top-menu">
                          <h4 class="card-title">Listas de ordenes</h4>
                          <div class="table-responsive">
                              <table class="table verticle-middle table-responsive-lg mb-0">
                                  <thead class="text-center">
                                      <tr>
                                          <th scope="col">ID</th>
                                          <th scope="col">Orden</th>
                                          <th scope="col">Cliente</th>
                                          <th scope="col">Lugar</th>
                                          <th scope="col">Entrega</th>
                                          <th scope="col">Cantidad</th>
                                          <th scope="col">Precio</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Accion</th>
                                      </tr>
                                  </thead>
                                  <tbody class="text-center">
                                      <tr>
                                          <td>54565</td>
                                          <td>Fresh Crostini</td>
                                          <td>Adam Smith</td>
                                          <td>Gulshan</td>
                                          <td>10:20</td>
                                          <td>5</td>
                                          <td>$34</td>
                                          <td><span class="badge badge-xs badge-primary">Pendiente</span>
                                          </td>
                                          <td>
                                              <span class="d-flex">
                                                  <a class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit" data-original-title="Edit"><i class="fas fa-pencil-alt color-muted"></i> </a>
                                                  <a data-toggle="tooltip" data-placement="top" title="Close" data-original-title="Close"><i class="fas fa-times color-danger"></i></a>
                                              </span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div id="tabs" class="col-xl-12 mt-3 mt-xl-0 project-tab">
                  <div class="row no-gutters">
                      <div class="col-md-12">
                          <nav>
                              <ul class="nav nav-tabs nav-pills nav-fill" id="nav-tab" role="tablist">
                                  <li class="nav-item"><a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mis Menus</a></li>
                                  <li class="nav-item"><a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Calendario</a></li>
                                  <li class="nav-item"><a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Historial</a></li>
                              </ul>
                          </nav>
                          <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row no-gutters">
                                  <div class="col-xl-7 col-lg-6 col-xxl-6">
                                    <div class="card top_menu_widget">
                                      <h4 class="card-title m-2 p-2">Top Menus</h4><button data-toggle="modal" data-target="#newMenuModal" class="btn btn-info ml-3 mr-3"><i class="fas fa-plus-circle"></i></button>
                                        <div class="card-body top-menu">
                                            <div *ngFor="let itemMenu of myfoodMenu.slice().reverse()" (click)="showPanelMenu(itemMenu)" class="media border-bottom pt-3 pb-3">
                                                <img width="50" height="50" alt="#" class="mr-3" src="{{itemMenu.photo}}">
                                                <div class="media-body">
                                                    <h5 class="mb-1 mt-sm-1 mt-0">{{itemMenu.foodName}}</h5>
                                                    <span>{{itemMenu.description}}</span>
                                                </div>
                                                <h5 class="badge-lighten-primary">{{itemMenu.cost |currency:"₡"}}</h5>
                                            </div>
                                            <div *ngIf="myfoodMenu.length == 0">
                                              <div class="jumbotron">
                                                <div class="row w-100">
                                                        <div class="col-md-12">
                                                            <div class="card border-info mx-sm-1 p-3">
                                                                <div class="card border-info shadow text-info p-3 my-card" ><span class="fas fa-utensils" aria-hidden="true"></span></div>
                                                                <div class="text-info text-center mt-3"><h4>Añada tus menus</h4></div>
                                                                <div class="text-info text-center mt-2"><h1><button data-toggle="modal" data-target="#newMenuModal" class="btn btn-info"><i class="fas fa-plus-circle"></i></button></h1></div>
                                                            </div>
                                                        </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mx-auto mt-5">
                                    <div *ngIf="!Media.IsMobile && showPanelMenuItem != undefined" class="card">
                                      <img class="card-img-top" src="{{showPanelMenuItem.photo}}" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">Nombre: {{showPanelMenuItem.foodName}}</h5>
                                        <p class="card-text">Descripcion: {{showPanelMenuItem.description}}</p>
                                        <p class="card-text">Costo: <small class="text-muted">{{showPanelMenuItem.cost | currency:"₡"}}</small></p>                                        
                                      </div>
                                      <div class="card-footer text-center">
                                        <button class="btn btn-danger float-left" type="button" (click)="deleteMenuSelected(showPanelMenuItem)" id="toleft"><i class="far fa-trash-alt"></i> Eliminar</button>
                                        <button class="btn btn-primary float-right" type="button" (click)="editMenuSelected(showPanelMenuItem)" id="toright"><i class="fas fa-edit"></i> Editar</button>
                                      </div>
                                    </div>
                                </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                  <table class="table" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Project Name</th>
                                              <th>Employer</th>
                                              <th>Time</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td><a href="#">Work 1</a></td>
                                              <td>Doe</td>
                                              <td>john@example.com</td>
                                          </tr>
                                          <tr>
                                              <td><a href="#">Work 2</a></td>
                                              <td>Moe</td>
                                              <td>mary@example.com</td>
                                          </tr>
                                          <tr>
                                              <td><a href="#">Work 3</a></td>
                                              <td>Dooley</td>
                                              <td>july@example.com</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                  <table class="table" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Contest Name</th>
                                              <th>Date</th>
                                              <th>Award Position</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td><a href="#">Work 1</a></td>
                                              <td>Doe</td>
                                              <td>john@example.com</td>
                                          </tr>
                                          <tr>
                                              <td><a href="#">Work 2</a></td>
                                              <td>Moe</td>
                                              <td>mary@example.com</td>
                                          </tr>
                                          <tr>
                                              <td><a href="#">Work 3</a></td>
                                              <td>Dooley</td>
                                              <td>july@example.com</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>


        <!-- Modal for create new Menu -->

<div class="modal fade" id="newMenuModal" tabindex="-1" role="dialog" aria-labelledby="newMenuModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 *ngIf="!showEditMenu" class="modal-title" id="newMenuModalLabel">Nuevo Menu</h5>
        <h5 *ngIf="showEditMenu" class="modal-title" id="newMenuModalLabel">Editar Menu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="!showEditMenu" [formGroup]="newMenuForm" (ngSubmit)="newMenuSubmit()">
            <div class="form-group">
                <label class="font-weight-bold">Nombre</label>
                <input type="text" formControlName="foodName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.foodName.errors }" />
                <div *ngIf="submitted && f.foodName.errors" class="invalid-feedback">
                    <div *ngIf="f.foodName.errors.required">Nombre de la comida es requerido</div>
                </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Descripcion</label>
              <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Nombre de la comida es requerido</div>
              </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Costo</label>
              <input formControlName="cost" pattern="\d*" class="form-control" placeholder="₡" maxlength="6" [ngClass]="{ 'is-invalid': submitted && f.cost.errors }" />
              <div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
                  <div *ngIf="f.cost.errors.required">Costo es requerido</div>
                  <div *ngIf="f.cost.errors.minlength">Costo debe ser al menos ₡100</div>
                  <div *ngIf="f.cost.errors.pattern">Solo se permiten numeros</div>
              </div>
            </div>
            <div class="form-group text-center">
              <label class="font-weight-bold ">Foto:</label>
              <input #photoinput type="file" name="image" accept="image/*" class="d-none"
                (change)="processFile($event)">
              <img [src]="photoSelected || '../../../assets/upload.png'" alt="" style="width: 100px; height: 100px;"
                class="img-fluid" (click)="photoinput.click()" srcset="">
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary float-right">
                <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                  </svg>
                Agregar
            
              </button>
            </div>
        </form>
        <form *ngIf="showEditMenu" [formGroup]="newMenuForm" (ngSubmit)="updateMenuItemSelected()">
            <div class="form-group">
                <label class="font-weight-bold">Nombre</label>
                <input type="text" formControlName="foodName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.foodName.errors }" />
                <div *ngIf="submitted && f.foodName.errors" class="invalid-feedback">
                    <div *ngIf="f.foodName.errors.required">Nombre de la comida es requerido</div>
                </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Descripcion</label>
              <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Nombre de la comida es requerido</div>
              </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Costo</label>
              <input formControlName="cost" pattern="\d*" class="form-control" placeholder="₡" maxlength="6" [ngClass]="{ 'is-invalid': submitted && f.cost.errors }" />
              <div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
                  <div *ngIf="f.cost.errors.required">Costo es requerido</div>
                  <div *ngIf="f.cost.errors.minlength">Costo debe ser al menos ₡100</div>
                  <div *ngIf="f.cost.errors.pattern">Solo se permiten numeros</div>
              </div>
            </div>
            <div class="form-group text-center">
              <label class="font-weight-bold ">Foto:</label>
              <input #photoinput type="file" name="image" accept="image/*" class="d-none"
                (change)="processFile($event)">
              <img [src]="photoSelected || '../../../assets/upload.png'" alt="" style="width: 100px; height: 100px;"
                class="img-fluid" (click)="photoinput.click()" srcset="">
            </div>
            <div class="modal-footer text-center">
              <button type="button" (click)="close()" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary float-right"> <i class="fas fa-edit"></i>Actualizar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>