@import "../../../scss/partials/bootstrap-breakpoints";
#register-user {
  background-color: #81D4FA;
  height: 100vh;
  @include media-breakpoint-up(lg) {
    .card{
      width: 30rem;
      margin: auto;
      background-color: #81D4FA;
    }
  }
  .card{
    margin: auto;
    background-color: #81D4FA;
  }
  background-color: #81D4FA;
  height: 100vh;
  .btn-yellow {
      border: 2px solid #F9A825;
      background-color: #F9A825;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
  }
  
  .btn-yellow:hover {
      background-color: #F57F17;
      border: 2px solid #F57F17;
  }
  
  .btn-inverse {
      border: 2px solid #F9A825;
      background-color: transparent;
      color: #F9A825;
      font-weight: bold;
      letter-spacing: 1px;
  }
  
  .btn-inverse:hover {
      background-color: #F57F17;
      color: #fff;
      border: 2px solid #F57F17;
  }
  .bg-transparent {
    background-color: transparent;
  }
  
  :host {
    height: 100%;
  }
  
  .photo {
    object-fit: contain;
  }

  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .remove-margin {
    margin-bottom: -10px;
  }

  .btn-facebook {
    background-color: #405D9D;
    color: #fff;
  }
  .btn-google {
    background-color: #42AEEC;
    color: #fff;
  }
}


  