@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.registerCompany {
    
    background-color: #81D4FA;
    .card {
        width: 30rem;
        margin: 0 auto;
      }
    .btn-yellow {
        border: 2px solid #F9A825;
        background-color: #F9A825;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .btn-yellow:hover {
        background-color: #F57F17;
        border: 2px solid #F57F17;
    }
    
    .btn-inverse {
        border: 2px solid #F9A825;
        background-color: transparent;
        color: #F9A825;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .btn-inverse:hover {
        background-color: #F57F17;
        color: #fff;
        border: 2px solid #F57F17;
    }
}