<div class="homeBody homeInit" id="HomeComponent">
<div class="container-fluid px-4 px-md-4 py-5 mx-auto">
    <div class="row d-flex justify-content-between align">
        <div class="card card1 border-0 rounded-0 mb-5 bg-white">
            <div class="row mt-auto justify-content-center mb-2">
                <h3 class="mb-0">Crear una cuenta de negocios</h3>
                <p>Un mundo de clientes ahora a tu alcance.</p>
                <div class="col-6"> <a [routerLink]="['/login-company']" class="btn btn-block btn-inverse btn-sm">Iniciar Sesión</a> </div>
                <div class="col-6"> <a [routerLink]="['/register-company']" class="btn btn-block btn-yellow btn-sm">Registrarse</a> </div>
            </div>
        </div>
        <div class="card p-0 border-0 rounded-0 mb-5 bg-white">
            <div class="card card2 border-0 rounded-0 card0">
                <h3 class="mb-0">¿Estás dentro de la plataforma?</h3>
                <p>Inicie sesión aquí</p> 
                <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label class="font-weight-bold mb-0">Correo</label>
                    <input type="text" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="mb-4 form-control" placeholder="abc@xyz.com">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold mb-0">Contraseña</label> 
                    <input type="password" name="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <a [routerLink]="['/forgot-user']" class="text-sm ml-auto text-dim">Olvidó contraseña?</a>
                  <div class="row mt-2">
                    <div class="col-6"> <button type="submit" class="btn btn-block btn-inverse btn-sm">Iniciar Sesión</button> </div>
                    <div class="col-6"> <button [routerLink]="['/register-user']" class="btn btn-block btn-yellow btn-sm">Registrarse</button> </div>
                  </div>
                  <div *ngIf="hideMsg" class="row no-gutters alert alert-warning error-message text-center mt-2" role="alert">
                    <i class="fas fa-times-circle mt-1 mr-3"></i> <strong class="text-center">{{ ShowMsg }}</strong>
                  </div>
                </form>
            </div> <img src="https://i.imgur.com/nUR4zg3.jpg" class="mt-auto">
        </div>
        <div class="card card3 border-0 rounded-0 mb-5 bg-white">
            <div class="row mt-auto mb-2">
                <h3 class="mb-0">Sé un socio repartidor</h3>
                <p>Repartí usando la aplicación de Yummy Eats.</p>
                <div class="col-6"> <a [routerLink]="['/login-driver']" class="btn btn-block btn-inverse btn-sm ">Iniciar Sesion</a> </div>
                <div class="col-6"> <a [routerLink]="['/register-driver']" class="btn btn-block btn-yellow btn-sm">Registrarse</a> </div>
            </div>
        </div>
    </div>
</div>
</div>